<%= form_for(@redirect) do |f| %>
  <% if @redirect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@redirect.errors.count, "error") %> prohibited this redirect from being saved:</h2>

      <ul>
      <% @redirect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="small-10">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="small-10">
    <%= f.label :target %><br>
    <%= f.text_field :target %>
  </div>
  <div class="small-10">
    <%= f.label :changedby %><br>
    <%= f.text_field :changedby %>
  </div>
 
  <div class="small-4">
    <%= f.submit 'Submit',:class => 'button small success radius' %>
  </div>
<% end %>
